body.dark-mode #about {
    background-image: none !important;
  }
.nav-link i {
    margin-right: 5px; /* Space between icon and text */
    color: rgb(255, 196, 0); /* Change color as needed */
    font-size: 1.3rem; /* Adjust icon size */
    
}